replicaCount: 1

autoscaling:
  enabled: false

gateway:
  enabled: false

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

env:
  - name: REDIS_URL
    valueFrom:
      secretKeyRef:
        name: radio-service-env-dev
        key: REDIS_URL
        optional: true
  - name: PG_URL
    valueFrom:
      secretKeyRef:
        name: radio-service-env-dev
        key: PG_URL
  - name: PG_USER
    valueFrom:
      secretKeyRef:
        name: radio-service-env-dev
        key: PG_USER
        optional: true
  - name: PG_PASS
    valueFrom:
      secretKeyRef:
        name: radio-service-env-dev
        key: PG_PASS
        optional: true
  - name: STATIONS_CACHE_TTL
    value: "3600"
  - name: STATIONS_MEMORY_CACHE_TTL
    value: "5"
  - name: STATIONS_CACHE_KEY
    valueFrom:
      secretKeyRef:
        name: radio-service-env-dev
        key: STATIONS_CACHE_KEY
        optional: true
  - name: STATIONS_REFRESH_TOKEN
    valueFrom:
      secretKeyRef:
        name: radio-service-env-dev
        key: STATIONS_REFRESH_TOKEN
        optional: false
  - name: ALLOW_INSECURE_TRANSPORT
    value: "true"
  - name: RADIO_BROWSER_LIMIT
    value: "60000"
  - name: RADIO_BROWSER_PAGE_SIZE
    value: "500"
  - name: RADIO_BROWSER_MAX_PAGES
    value: "200"
  - name: RADIO_BROWSER_USER_AGENT
    value: "gitgud.qzz.io blog"
  - name: TRUST_PROXY
    value: loopback,linklocal,uniquelocal
