
#test
image:
  registry: ghcr.io
  repository: stasaberg/my-stupid-website
  tag: ""
  pullPolicy: IfNotPresent


imagePullSecrets: []
nameOverride: ""
fullnameOverride: "my-stupid-website"

serviceAccount:
  create: false
  name: ""
  automount: false


podAnnotations: {}
podLabels: {}

podSecurityContext:
  runAsNonRoot: true
  fsGroup: 101
  seccompProfile:
    type: RuntimeDefault

securityContext:
  runAsUser: 101
  runAsGroup: 101
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
  seccompProfile:
    type: RuntimeDefault


service:
  type: ClusterIP
  port: 80

containerPort: 8080

gateway:
  enabled: true
  parentRefs:
    - name: traefik-gateway
      namespace: kube-system
      sectionName: web
    - name: traefik-gateway
      namespace: kube-system
      sectionName: websecure
  hostnames:
    - gitgud.qzz.io
  paths:
    - value: /
      type: PathPrefix
  middlewareRefs: []

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

livenessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 10
  periodSeconds: 10
readinessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 3
  periodSeconds: 5

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 0
      selectPolicy: Max
      policies:
        - type: Percent
          value: 100
          periodSeconds: 60
        - type: Pods
          value: 4
          periodSeconds: 60
    scaleDown:
      stabilizationWindowSeconds: 300
      selectPolicy: Max
      policies:
        - type: Percent
          value: 50
          periodSeconds: 60

volumes:
  - { name: nginx-cache, emptyDir: {} }
  - { name: nginx-run,   emptyDir: {} }
  - { name: nginx-log,   emptyDir: {} }
  - { name: tmp,         emptyDir: {} }

volumeMounts:
  - { name: nginx-cache, mountPath: /var/cache/nginx }
  - { name: nginx-run,   mountPath: /var/run }
  - { name: nginx-log,   mountPath: /var/log/nginx }
  - { name: tmp,         mountPath: /tmp }

env:
  - name: VITE_RADIO_API_BASE_URL
    value: /api/radio
  - name: VITE_TERMINAL_API_BASE_URL
    value: /api/terminal
  - name: VITE_RADIO_DEFAULT_LIMIT
    value: "200"
