.progress-width-0 { width: 0%; }
.progress-translate-0 { transform: translateX(-100%); }
.progress-width-1 { width: 1%; }
.progress-translate-1 { transform: translateX(-99%); }
.progress-width-2 { width: 2%; }
.progress-translate-2 { transform: translateX(-98%); }
.progress-width-3 { width: 3%; }
.progress-translate-3 { transform: translateX(-97%); }
.progress-width-4 { width: 4%; }
.progress-translate-4 { transform: translateX(-96%); }
.progress-width-5 { width: 5%; }
.progress-translate-5 { transform: translateX(-95%); }
.progress-width-6 { width: 6%; }
.progress-translate-6 { transform: translateX(-94%); }
.progress-width-7 { width: 7%; }
.progress-translate-7 { transform: translateX(-93%); }
.progress-width-8 { width: 8%; }
.progress-translate-8 { transform: translateX(-92%); }
.progress-width-9 { width: 9%; }
.progress-translate-9 { transform: translateX(-91%); }
.progress-width-10 { width: 10%; }
.progress-translate-10 { transform: translateX(-90%); }
.progress-width-11 { width: 11%; }
.progress-translate-11 { transform: translateX(-89%); }
.progress-width-12 { width: 12%; }
.progress-translate-12 { transform: translateX(-88%); }
.progress-width-13 { width: 13%; }
.progress-translate-13 { transform: translateX(-87%); }
.progress-width-14 { width: 14%; }
.progress-translate-14 { transform: translateX(-86%); }
.progress-width-15 { width: 15%; }
.progress-translate-15 { transform: translateX(-85%); }
.progress-width-16 { width: 16%; }
.progress-translate-16 { transform: translateX(-84%); }
.progress-width-17 { width: 17%; }
.progress-translate-17 { transform: translateX(-83%); }
.progress-width-18 { width: 18%; }
.progress-translate-18 { transform: translateX(-82%); }
.progress-width-19 { width: 19%; }
.progress-translate-19 { transform: translateX(-81%); }
.progress-width-20 { width: 20%; }
.progress-translate-20 { transform: translateX(-80%); }
.progress-width-21 { width: 21%; }
.progress-translate-21 { transform: translateX(-79%); }
.progress-width-22 { width: 22%; }
.progress-translate-22 { transform: translateX(-78%); }
.progress-width-23 { width: 23%; }
.progress-translate-23 { transform: translateX(-77%); }
.progress-width-24 { width: 24%; }
.progress-translate-24 { transform: translateX(-76%); }
.progress-width-25 { width: 25%; }
.progress-translate-25 { transform: translateX(-75%); }
.progress-width-26 { width: 26%; }
.progress-translate-26 { transform: translateX(-74%); }
.progress-width-27 { width: 27%; }
.progress-translate-27 { transform: translateX(-73%); }
.progress-width-28 { width: 28%; }
.progress-translate-28 { transform: translateX(-72%); }
.progress-width-29 { width: 29%; }
.progress-translate-29 { transform: translateX(-71%); }
.progress-width-30 { width: 30%; }
.progress-translate-30 { transform: translateX(-70%); }
.progress-width-31 { width: 31%; }
.progress-translate-31 { transform: translateX(-69%); }
.progress-width-32 { width: 32%; }
.progress-translate-32 { transform: translateX(-68%); }
.progress-width-33 { width: 33%; }
.progress-translate-33 { transform: translateX(-67%); }
.progress-width-34 { width: 34%; }
.progress-translate-34 { transform: translateX(-66%); }
.progress-width-35 { width: 35%; }
.progress-translate-35 { transform: translateX(-65%); }
.progress-width-36 { width: 36%; }
.progress-translate-36 { transform: translateX(-64%); }
.progress-width-37 { width: 37%; }
.progress-translate-37 { transform: translateX(-63%); }
.progress-width-38 { width: 38%; }
.progress-translate-38 { transform: translateX(-62%); }
.progress-width-39 { width: 39%; }
.progress-translate-39 { transform: translateX(-61%); }
.progress-width-40 { width: 40%; }
.progress-translate-40 { transform: translateX(-60%); }
.progress-width-41 { width: 41%; }
.progress-translate-41 { transform: translateX(-59%); }
.progress-width-42 { width: 42%; }
.progress-translate-42 { transform: translateX(-58%); }
.progress-width-43 { width: 43%; }
.progress-translate-43 { transform: translateX(-57%); }
.progress-width-44 { width: 44%; }
.progress-translate-44 { transform: translateX(-56%); }
.progress-width-45 { width: 45%; }
.progress-translate-45 { transform: translateX(-55%); }
.progress-width-46 { width: 46%; }
.progress-translate-46 { transform: translateX(-54%); }
.progress-width-47 { width: 47%; }
.progress-translate-47 { transform: translateX(-53%); }
.progress-width-48 { width: 48%; }
.progress-translate-48 { transform: translateX(-52%); }
.progress-width-49 { width: 49%; }
.progress-translate-49 { transform: translateX(-51%); }
.progress-width-50 { width: 50%; }
.progress-translate-50 { transform: translateX(-50%); }
.progress-width-51 { width: 51%; }
.progress-translate-51 { transform: translateX(-49%); }
.progress-width-52 { width: 52%; }
.progress-translate-52 { transform: translateX(-48%); }
.progress-width-53 { width: 53%; }
.progress-translate-53 { transform: translateX(-47%); }
.progress-width-54 { width: 54%; }
.progress-translate-54 { transform: translateX(-46%); }
.progress-width-55 { width: 55%; }
.progress-translate-55 { transform: translateX(-45%); }
.progress-width-56 { width: 56%; }
.progress-translate-56 { transform: translateX(-44%); }
.progress-width-57 { width: 57%; }
.progress-translate-57 { transform: translateX(-43%); }
.progress-width-58 { width: 58%; }
.progress-translate-58 { transform: translateX(-42%); }
.progress-width-59 { width: 59%; }
.progress-translate-59 { transform: translateX(-41%); }
.progress-width-60 { width: 60%; }
.progress-translate-60 { transform: translateX(-40%); }
.progress-width-61 { width: 61%; }
.progress-translate-61 { transform: translateX(-39%); }
.progress-width-62 { width: 62%; }
.progress-translate-62 { transform: translateX(-38%); }
.progress-width-63 { width: 63%; }
.progress-translate-63 { transform: translateX(-37%); }
.progress-width-64 { width: 64%; }
.progress-translate-64 { transform: translateX(-36%); }
.progress-width-65 { width: 65%; }
.progress-translate-65 { transform: translateX(-35%); }
.progress-width-66 { width: 66%; }
.progress-translate-66 { transform: translateX(-34%); }
.progress-width-67 { width: 67%; }
.progress-translate-67 { transform: translateX(-33%); }
.progress-width-68 { width: 68%; }
.progress-translate-68 { transform: translateX(-32%); }
.progress-width-69 { width: 69%; }
.progress-translate-69 { transform: translateX(-31%); }
.progress-width-70 { width: 70%; }
.progress-translate-70 { transform: translateX(-30%); }
.progress-width-71 { width: 71%; }
.progress-translate-71 { transform: translateX(-29%); }
.progress-width-72 { width: 72%; }
.progress-translate-72 { transform: translateX(-28%); }
.progress-width-73 { width: 73%; }
.progress-translate-73 { transform: translateX(-27%); }
.progress-width-74 { width: 74%; }
.progress-translate-74 { transform: translateX(-26%); }
.progress-width-75 { width: 75%; }
.progress-translate-75 { transform: translateX(-25%); }
.progress-width-76 { width: 76%; }
.progress-translate-76 { transform: translateX(-24%); }
.progress-width-77 { width: 77%; }
.progress-translate-77 { transform: translateX(-23%); }
.progress-width-78 { width: 78%; }
.progress-translate-78 { transform: translateX(-22%); }
.progress-width-79 { width: 79%; }
.progress-translate-79 { transform: translateX(-21%); }
.progress-width-80 { width: 80%; }
.progress-translate-80 { transform: translateX(-20%); }
.progress-width-81 { width: 81%; }
.progress-translate-81 { transform: translateX(-19%); }
.progress-width-82 { width: 82%; }
.progress-translate-82 { transform: translateX(-18%); }
.progress-width-83 { width: 83%; }
.progress-translate-83 { transform: translateX(-17%); }
.progress-width-84 { width: 84%; }
.progress-translate-84 { transform: translateX(-16%); }
.progress-width-85 { width: 85%; }
.progress-translate-85 { transform: translateX(-15%); }
.progress-width-86 { width: 86%; }
.progress-translate-86 { transform: translateX(-14%); }
.progress-width-87 { width: 87%; }
.progress-translate-87 { transform: translateX(-13%); }
.progress-width-88 { width: 88%; }
.progress-translate-88 { transform: translateX(-12%); }
.progress-width-89 { width: 89%; }
.progress-translate-89 { transform: translateX(-11%); }
.progress-width-90 { width: 90%; }
.progress-translate-90 { transform: translateX(-10%); }
.progress-width-91 { width: 91%; }
.progress-translate-91 { transform: translateX(-9%); }
.progress-width-92 { width: 92%; }
.progress-translate-92 { transform: translateX(-8%); }
.progress-width-93 { width: 93%; }
.progress-translate-93 { transform: translateX(-7%); }
.progress-width-94 { width: 94%; }
.progress-translate-94 { transform: translateX(-6%); }
.progress-width-95 { width: 95%; }
.progress-translate-95 { transform: translateX(-5%); }
.progress-width-96 { width: 96%; }
.progress-translate-96 { transform: translateX(-4%); }
.progress-width-97 { width: 97%; }
.progress-translate-97 { transform: translateX(-3%); }
.progress-width-98 { width: 98%; }
.progress-translate-98 { transform: translateX(-2%); }
.progress-width-99 { width: 99%; }
.progress-translate-99 { transform: translateX(-1%); }
.progress-width-100 { width: 100%; }
.progress-translate-100 { transform: translateX(0%); }
