[application]
name = "dioxus-app"
default_platform = "web"
public_dir = "public"

[web.app]

# HTML title tag content
title = "Gitgud Blog"

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []
